#description_container {
    text-align: center;
    margin: 20px 0;
}

#description_container h3 {
    font-size: 24px; 
    margin: 5px 0;
}

#description_container p {
    font-size: 16px; 
    color: #666; 
}
