
.registerPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa; 
  }
  
  .registerPage-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .register-title {
    font-weight: bold;
    color: #000000; 
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px; 
    border: 1px solid #ddd; 
    font-size: 1rem;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  .submit-register-button {
    background-color: #f277cd; 
    color: white;
  }
  
  .submit-register-button:hover {
    background-color: #d867b4; 
  }
  
  .back-container {
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #3897f0; 
    color: white;
    padding: 10px;
  }
  
  .back-button:hover {
    background-color: #2878c7; 
  }
  