.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
  height: 100%; /* Ocupa toda la altura del contenedor */
  overflow-y: auto; /* Scroll interno en el feed */
}

.feed::-webkit-scrollbar {
  width: 8px;
}

.feed::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.loadMoreButton:hover {
  background-color: #2878c7;
}



