.header_container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px; 
    background-color: #f9f9f9; 
    border-bottom: 1px solid #e0e0e0; 
    width: 600px; 
}
.username_section {
    flex: 2; 
    text-align: center; 
}

.username_section h1 {
    font-size: 24px; 
    margin: 0;
    font-weight: bold;
}

.buttons_section {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.header_button {
    background: none; 
    border: none; 
    cursor: pointer; 
    margin-left: 15px; 
    padding: 5px; 
    transition: transform 0.3s;
}

.header_button:hover {
    transform: scale(1.1); 
}

.header_button img {
    width: 24px; 
    height: 24px;
}
